/*
** SQLiteView - Windows Explorer Shell Extension
** Resource File
*/

#include <windows.h>
#include <winver.h>

// Version Info
#define VER_FILEVERSION             1,0,0,0
#define VER_FILEVERSION_STR         "1.0.0.0\0"
#define VER_PRODUCTVERSION          1,0,0,0
#define VER_PRODUCTVERSION_STR      "1.0.0\0"
#define VER_COMPANYNAME_STR         "Tootega Pesquisa e Inovação\0"
#define VER_FILEDESCRIPTION_STR     "SQLiteView Shell Extension\0"
#define VER_INTERNALNAME_STR        "SQLiteView\0"
#define VER_LEGALCOPYRIGHT_STR      "Copyright © 2024-2026 Tootega. MIT License.\0"
#define VER_ORIGINALFILENAME_STR    "SQLiteView.dll\0"
#define VER_PRODUCTNAME_STR         "SQLiteView\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS       VS_FF_DEBUG
#else
FILEFLAGS       0x0L
#endif
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      VER_COMPANYNAME_STR
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     VER_INTERNALNAME_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

// Icons
// IDI_DATABASE         ICON "icons\\database.ico"
// IDI_TABLE            ICON "icons\\table.ico"
// IDI_VIEW             ICON "icons\\view.ico"
// IDI_INDEX            ICON "icons\\index.ico"
// IDI_SYSTEM           ICON "icons\\system.ico"

// Note: Icons can be added later with proper .ico files
// For now, icons are generated dynamically in code
